.mobile-toggle {
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  height: 50%;

}

.toggle{
  display: flex;
  align-items: center;
}

.mobile-toggle__bar {
  width: 2rem;
  height: 4px;
  background: black;
  margin-bottom: 0.3rem;
 
}

@media (max-width: 800px) {
  .mobile-toggle__bar{
    height: 3px;
    width: 1rem;
  }

  .mobile-toggle{
    height: 35%;
  }
}

